@font-face {
  font-family: tetris;
  src: url("font/tetris.ttf");
}

.command {
  color: rgba(132, 197, 204, 1);
}

.option {
  color: rgba(147, 81, 182, 1);
}

.value {
  color: rgba(72, 58, 170, 1);
}

h1, h2, h3, h4, h5, h6, p, a, tr, img {

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
  position: fixed;
  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 312px;
  left: 0px;
  padding-left: 1.5%;
  margin-right: 1.5%;
  width: 20%;
  height: 200px;
  white-space: pre-line;
  font-size: 1.3cm;
  background-color: white;
  color: black;
}

body {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  margin: 40px 0px 0px 0px;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 23%;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 54%;
}

nav aside {
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: rgba(120, 166, 171, 0.4);
  z-index: 25;
}

nav aside:hover {
  color: rgba(120, 166, 171, 1.0);
}

section header {
  z-index: 50;
}

section header h1 {
  color: rgba(62, 67, 73, 1);
  text-transform: capitalize;
  font-weight: normal;
  font-family: tetris;
  font-size: 640%;
  margin-top: 0px;
  margin-bottom: 0px;
}

section header h2, article h2, footer h2 {
  color: rgba(62, 67, 73, 1);
  text-transform: capitalize;
  font-weight: normal;
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 180%;
  margin: 30px 0px 10px 0px;
}

section header h3, article h3, footer h3 {
  color: rgba(62, 67, 73, 1);
  text-transform: capitalize;
  font-weight: normal;
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 150%;
  margin: 30px 0px 10px 0px;
}

section article table tr th {
  color: rgba(62, 67, 73, 1);
  text-transform: capitalize;
  font-weight: normal;
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 115%;
  margin: 30px 0px 10px 0px;
}

section header h4, article h4, footer h4 {
  color: rgba(62, 67, 73, 1);
  text-transform: capitalize;
  font-weight: normal;
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 130%;
  margin: 30px 0px 10px 0px;
}

section header h1::after, article h1::after, footer h1::after,
section header h2::after, article h2::after, footer h2::after,
section header h3::after, article h3::after, footer h3::after,
section header h4::after, article h4::after, footer h4::after {
  text-transform: none;
}

article {
  position: relative;
  display: block;
  width: 100%;
  z-index: 50;
}

article pre {
  overflow-x: auto;
  background-color: rgba(238, 238, 238, 0.8);
  font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 0.9em;
  padding: 7px 30px;
  margin: 15px 0px;
  line-height: 1.3em;
}

nav menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  margin: 40px 0px 0px 0px;
  height: 100%;
  width: 100%;
}

nav menu ul {
  list-style: square;
  list-style-position: inside;
  width: 75%;
}

nav menu > ul {
  padding: 0px;
}

nav menu p {
  color: rgba(68, 68, 68, 1);
  text-transform: capitalize;
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 24px;
  font-weight: normal;
  margin: 0px 0px 5px 0px;
  width: 75%;
}

nav menu a {
  color: rgba(68, 68, 68, 1);
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: capitalize;
  border-bottom: 1px dotted #999;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a {
  color: rgba(221, 221, 221, 0);
  text-decoration: none;
  padding: 0 4px;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a, p a:hover {
  color: rgba(221, 221, 221, 1);
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, p a:hover {
  color: rgba(62, 67, 73, 1);
  text-decoration: none;
  padding: 0 4px;
}

section header p a, article p a, footer p a, footer li a, nav aside p a, p a {
  color: rgba(62, 67, 73, 1);
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

section header p a, article p a, footer p a, footer li a, nav aside p a, p a {
  text-transform: capitalize;
}

section header p, article p, footer p, nav aside p, a, table tr td {
  font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
  font-size: 17px;
  color: rgba(62, 67, 73, 1);
  line-height: 1.4em;
}

section article table {
	 border-style: None;
     border-top: thick double black;
     border-bottom: thin solid black;
}

section article table tr td:first-child {
	text-align: center;
}

section article table tr:nth-child(2) td {
	 border-style: None;
     border-bottom: thin solid black;
}

section header p:first-letter, article p:first-letter, footer p:first-letter {
  text-transform: capitalize
}

article video {
	background-color: black
}

nav canvas {
	opacity: 0.2;
}

nav canvas:hover {
        opacity: 1;
}

#spinner, #status, #progress, #output {
	display: none;
}

.ol-overlaycontainer-stopevent {
    display: none;
}
